.l-main {
  padding: 20px 25px;
  background: #f5f5f5;
}

.l-nav {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;

  ul > li {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.l-footer {
  color: white;
  height: 24px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;

  span {
    font-family: 'Indie Flower', cursive;
  }
}